POSTGRE_USER=<POSTGRE_USER>
POSTGRE_PASSWORD=<POSTGRE_PASSWORD>
POSTGRE_HOST=<POSTGRE_HOST>
POSTGRE_PORT=<POSTGRE_PORT>
POSTGRE_DB=<POSTGRE_DB>

HUGGING_FACE_HUB_TOKEN=<HUGGING_FACE_HUB_TOKEN>

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=video_game_reviews
DENSE_MODEL_NAME=BAAI/bge-small-en-v1.5
SPARSE_MODEL_NAME=Qdrant/bm25
DENSE_VECTOR_NAME=dense
SPARSE_VECTOR_NAME=sparse
CONTENT_PAYLOAD_KEY=page-content
METADATA_PAYLOAD_KEY=metadata
RETRIEVER_K=5

AGENT_MODEL=agent-llama
OPENAI_BASE_URL=http://localhost:8000/v1
OPENAI_API_KEY=not-needed
