QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=video_game_recommendations

DENSE_MODEL_NAME=BAAI/bge-small-en-v1.5
SPARSE_MODEL_NAME=Qdrant/bm25
DENSE_VECTOR_NAME=dense
SPARSE_VECTOR_NAME=sparse
CONTENT_PAYLOAD_KEY=page-content
METADATA_PAYLOAD_KEY=metadata
RETRIEVER_K=5

AGENT_MODEL=gpt-4o-mini
OPENAI_BASE_URL=
OPENAI_API_KEY=
